// Colores

$green: #7CEA9C;
$darkblue: #2D3047;
$black: #071013;
$white: #FFFFFF;

// Fuentes

$Lato: 'Lato', sans-serif;

// Peso Fuentes

$Light: 300;
$Regular: 400;
$Bold: 700;
$Black: 900;

// Breakpoints

$min-tablet: 768px;
$min-phone: 576px;
$max-desktop: 768px;