.navigation { grid-area: nav; }
.title { grid-area: header; }
.content { grid-area: main; }

.grid-container {
    display: grid;
    grid-template-areas:
      'nav header header header header'
      'nav main main main main';
    grid-gap: 2rem;

    @include tablet-view{
      grid-template-areas:
      'nav nav nav nav'
      'header header header header'
      'main main main main';
    }
  }